@model ScholarshipSolution.Models.Professor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Professor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EducationalBackground)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EducationalBackground)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoOfStudents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoOfStudents)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Funding)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Funding)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Picture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expertise.TopicName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expertise.TopicName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interest.TopicName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interest.TopicName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.University.UniName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.University.UniName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProfID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
